<app-alert></app-alert>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Discount programs</strong>
      </div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="searchForm">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Type</label>
            <div class="col-md-4">
              <select class="form-control" formControlName="type">
                <option [ngValue]="item.id" *ngFor="let item of lstDiscount">{{item.name}}</option>
              </select>
            </div>
            <label class="col-md-2 col-form-label">Per</label>
            <div class="col-md-4">
              <input type="number" formControlName="percent" max="100" min="0" class="form-control" placeholder="Enter percent..."
                     [ngClass]="{ 'is-invalid': percentValid}" >
              <div *ngIf="percentValid" class="invalid-feedback">
                <div *ngIf="percent.errors.required">Percent is required</div>
                <div *ngIf="percent.errors.pattern">Percent is invalid</div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="searchForm.value.type === 2">
            <label class="col-md-2 col-form-label">Group</label>
            <div class="col-md-4">
              <select class="form-control" formControlName="groupId">
                <option value="0">---Choose---</option>
                <option [ngValue]="item.id" *ngFor="let item of lstGroups">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="searchForm.value.type === 3">
            <label class="col-md-2 col-form-label">Category</label>
            <div class="col-md-4">
              <select class="form-control" formControlName="category">
                <option value="0">---Choose---</option>
                <option [ngValue]="item.id" *ngFor="let item of lstCategory">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="searchForm.value.type === 4">
            <label class="col-md-2 col-form-label">Code</label>
            <div class="col-md-4">
              <input type="text" formControlName="code" class="form-control" placeholder="Enter product code..."
                     [ngClass]="{ 'is-invalid': codeValid}">
              <div *ngIf="codeValid" class="invalid-feedback">
                <div *ngIf="code.errors.required">Code is required</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" (click)="apply()" class="btn btn-sm btn-success"><i class="fa fa-percent"></i> Apply</button>
      </div>
    </div>
  </div><!--/.col-->
</div>

