<app-alert></app-alert>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Search</strong>
      </div>
      <div class="card-body">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Color</label>
            <div class="col-md-4">
              <input [style.background]="hexColor"
                     [(colorPicker)]="hexColor"
                     class="form-control"
                     (colorPickerClose)="getColor($event)"
              />
            </div>
            <button type="reset" (click)="getColor('')" class="btn btn-sm btn-ghost-primary"> Reset</button>
          </div>
      </div>
      <div class="card-footer">
        <button type="submit" (click)="search()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Search</button>
        <button type="reset" (click)="addNew()" class="btn btn-sm btn-danger"><i class="fa fa-user-plus"></i>Add</button>
      </div>
    </div>
  </div><!--/.col-->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Results
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th *ngFor = "let column of headers">
              {{column}}
            </th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor = "let item of lstUsers | slice: ((page-1) * pageSize) : ((page-1) * pageSize + pageSize); let i=index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td [style.backgroundColor]="item.name"></td>
            <td>{{item.createDate}}</td>
            <td>
              <a (click)="edit(item)" tooltip="Edit user" placement="bottom"><i class="fa fa-edit myIcons"></i></a>
              <a (click)="delete(item)" tooltip="Detele user" placement="bottom"><i class="fa fa-trash myIcons"></i></a>
            </td>
          </tr>
          <tr>
            <td *ngIf="lstUsers.length===0" colspan="7">No records</td>
          </tr>
          </tbody>
        </table>
        <nav>
          <ngb-pagination [collectionSize]="lstUsers.length" [(pageSize)]="pageSize" [(page)]="page" [rotate]="true"></ngb-pagination>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
