<app-alert></app-alert>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Type of satistical</strong>
      </div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="searchForm">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Type</label>
            <div class="col-md-4">
              <select class="form-control" formControlName="type">
                <option [ngValue]="item.id" *ngFor="let item of lstSatisticType">{{item.name}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" (click)="search()" class="btn btn-sm btn-primary"><i class="fa fa-bar-chart"></i> Satistic</button>
      </div>
    </div>
  </div><!--/.col-->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Results
      </div>
      <div class="card-body">
        <div style="display: block;" *ngIf="isTypeChart === 1">
          <canvas baseChart
                  [colors]="pieChartColors"
                  [data]="pieChartData"
                  [labels]="chartLabels"
                  [chartType]="pieChartType"
                  [options]="chartOptions"
                  [plugins]="chartPlugins"
                  [legend]="chartLegend">
          </canvas>
        </div>
        <div style="display: block;" *ngIf="isTypeChart === 3">
          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="chartLabels"
                  [options]="chartOptions"
                  [colors]="lineChartColors"
                  [legend]="chartLegend"
                  [chartType]="lineChartType"
                  [plugins]="chartPlugins">
          </canvas>
        </div>
        <div style="display: block;" *ngIf="isTypeChart === 2">
          <canvas baseChart
                  [colors]="barChartColors"
                  [datasets]="barChartData"
                  [labels]="chartLabels"
                  [options]="chartOptions"
                  [plugins]="chartPlugins"
                  [legend]="chartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>

