.myIcons{
  cursor: pointer;
}
.products-colors li a:hover{
  opacity:0.8;
  z-index: 9999;
}

.products-colors li a span {
  width: 22px;
  height: 22px;
  display: inline-block;
}

.products-colors li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.img-product{
    border-radius: 10px;
    object-fit: contain;
}
