<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="saveForm">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Name</label>
      <div class="col-md-10">
        <input type="text" formControlName="name" placeholder="Enter name.." class="form-control" [ngClass]="{ 'is-invalid': nameValid}" />
        <div *ngIf="nameValid" class="invalid-feedback">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="submit" (click)="save()" [disabled]="saveForm.invalid" class="btn btn-sm btn-success"><i class="fa fa-save"></i>  Save</button>
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
